@{
    ViewData["Title"] = "Home Page";
    List<Trip> trips = ViewData["trips"] as List<Trip>;
    List<Comment> comments = ViewData["comments"] as List<Comment>;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="display-4 mt-5">BARSANTI TRIP-ADVISOR</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mt-4 text-center">
            <input type="text" class="form-control search-input" placeholder="Cerca...">
        </div>
    </div>

    <div class="row justify-content-center mt-4" id="content-area">
        <div class="col-lg-10 col-md-12 col-sm-12 col-12">
            <!-- Ciclo per creare i riquadri -->
            @if (trips != null && trips.Count > 0)
            {
                @foreach (var trip in trips)
                {
                    <div class="custom-box p-3 mb-3 expandable" data-expandable-id="@trip.id">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-sm-6 text-center">
                                <img src="@trip.picture" class="img-fluid" alt="@trip.picture" style="max-height: 200px;">
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="d-flex flex-column align-items-start">
                                    <h2>@(trip.type + " presso " + trip.location)</h2>
                                    <div class="info">
                                        <div class="rating">
                                            @for (int j = 5; j >= 1; j--)
                                            {
                                                bool isChecked = (j == trip.averageRating);
                                                <input type="radio" id="star@j_@trip.id" name="rating_@trip.id" value="@j" @(isChecked ? "checked" : "") disabled />
                                                <label for="star@j_@trip.id" title="@j stelle"></label>
                                            }
                                        </div>
                                        <p>@trip.price a persona</p>
                                        <p>@trip.date.ToString("dd MMMM yyyy")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row comments-area d-none" id="expandable-content-@trip.id">
                            <div class="col-12 d-flex justify-content-between align-items-center">
                                <div class="mt-2">
                                    <!-- Aggiungi Commento -->
                                    <button class="btn btn-secondario add-comment-btn" data-target="#comment-form-@trip.id">Aggiungi commento</button>
                                    <!-- Pulsante Dettaglio -->
                                    <a class="btn btn-info" asp-controller="Home"
                                        asp-action="TripDetails" asp-route-id="@trip.id">Dettaglio</a>
                                </div>
                            </div>
                            <div class="col-12 comments-list">
                                <!-- Elenco dei commenti -->
                            </div>
                            <div class="col-12 add-comment-form d-none" id="comment-form-@trip.id">
                                <textarea class="form-control mt-2" rows="3" placeholder="Scrivi il tuo commento..."></textarea>
                                <button class="btn btn-primary mt-2">Invia commento</button>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Nessuna gita disponibile.</p>
            }
        </div>
    </div>

    <a class="btn btn-top-right" asp-controller="Home" asp-action="Login">LOGIN</a>
    <div class="text-center mt-3">
        <button class="btn btn-success" asp-controller="Home" asp-action="AddNewItem" id="add-new-item">Nuova uscita/gita</button>
    </div>
</div>












